Package: com.zetax.castweak
Name: CASTweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: u8int
Author: u8int
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
